<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- My Website Icon -->
        <link href="#" rel="icon">

        <link href="static/log_style.css" rel="stylesheet">

        <title>UCOOK: LOGIN</title>
    </head>
    <body>
        <div class="container">
            <div class="row center">
                <div class="login">
                    <div class="logo">
                        <span><h1>UCOOK</h1></span>
                    </div>
                    <form action="/login" method="post">
                        <input autocomplete="off" class="form-control" name="username" placeholder="Username" type="text">
                        <input class="form-control" name="password" placeholder="Password" type="password">
                        <div class="form-btn">
                            <button class="btn" type="submit">Log In</button>
                        </div>
                    </form>
                    <div class="forget">

                    </div>
                </div>
            </div>
            <div class="row center">
                <div class="signup">
                    <p class="question">Don't have an account? <a href="/register" tabindex="0"><span class="noaccount">Sign up</span></a></p>
                </div>
            </div>
        </div>
        <footer>
            <section class="copyright">
                <div class="container">
                    <p>SUIKA © 2020 Copyright. All Rights Reserved</p>
                </div>
            </section>
        </footer>
    </body>
</html>