{% extends "layout.html" %}

{% block title %}
   Home
{% endblock %}

{% block main %}
    <div class="row">
        <div class="recipe-gallery">
            {% for resp in row %}

                <div class="item">
                    <div class="inner">
                        <img src="{{resp["image"]}}" alt="recipe-img">
                        <div class="overlay">
                            <a href="/recipes/{{resp["id"]}}"><span class="fa fa-plus"></span></a>
                            <h4>{{resp["title"]}}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    </div>
{% endblock %}
